.character-wrapper {
  background: url(https://meltyblood.typelumina.com/resources/img/character/bg_4435409ef700bb57e2382f750a28939c.jpg)
    center top no-repeat;
  background-attachment: fixed;
  position: relative;
}
.char-img-top {
  text-align: center;
}
.char-display {
  display: flex;
  justify-content: center;
}
.and-more-img {
  text-align: right;
  padding-bottom: 50px;
}
.char-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: flex-start;
  justify-content: center;
  width: 1100px;
}
.char-click {
  width: 229px;
  height: 440px;
  margin: 25px 5px;
}
.char-click.shiki {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara1_btn_a1f89fe1fb5a0319885bab91412bdbda.png)
    top no-repeat;
}
.char-click.shiki:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara1_btn_a1f89fe1fb5a0319885bab91412bdbda.png) -1px
    440px;
}
.char-click.arcueid {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara2_btn_65da5213fa4a89e995a68a921c025cff.png)
    top no-repeat;
}
.char-click.arcueid:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara2_btn_65da5213fa4a89e995a68a921c025cff.png)
    2px 440px;
}
.char-click.akiha {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara3_btn_225e18978b0d970c1de81b5e1e1c1393.png)
    top no-repeat;
  width: 266px;
  height: 452px;
}
.char-click.akiha:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara3_btn_225e18978b0d970c1de81b5e1e1c1393.png) -1px
    452px;
}
.sub-click.ciel {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara4_btn_8245553356fb663995fc522327e3224e.png)
    no-repeat;
  width: 226px;
  height: 498px;
  position: absolute;
  top: -35px;
}
.sub-click.ciel:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara4_btn_8245553356fb663995fc522327e3224e.png)
    0px 498px;
}
.char-click.hisui {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara5_btn_0df4ec86b1204b1729922bab662624af.png)
    no-repeat;
  width: 254px;
  height: 440px;
}
.char-click.hisui:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara5_btn_0df4ec86b1204b1729922bab662624af.png)
    0px 440px;
}
.char-click.kohaku {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara6_btn_a215a75c7a411ab303170aa15046c5c1.png)
    no-repeat;
  width: 254px;
  height: 440px;
}
.char-click.kohaku:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara6_btn_a215a75c7a411ab303170aa15046c5c1.png)
    0px 440px;
}
.char-click.kouma {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara7_btn_cb7ab4ab8297711a459885a6f2762915.png)
    no-repeat;
  width: 254px;
  height: 440px;
}
.char-click.kouma:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara7_btn_cb7ab4ab8297711a459885a6f2762915.png)
    0px 440px;
}
.char-click.miyako {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara8_btn_6aea63c4cd10998443115b0245361094.png)
    no-repeat;
  width: 254px;
  height: 443px;
  position: relative;
}
.char-click.miyako:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara8_btn_6aea63c4cd10998443115b0245361094.png)
    0px 443px;
}
.char-click.noel {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara9_btn_98c8c866f2dc2c4a24cfbef05b20870b.png)
    no-repeat;
  width: 249px;
  height: 496px;
  position: relative;
}
.char-click.noel:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara9_btn_98c8c866f2dc2c4a24cfbef05b20870b.png)
    0px 496px;
}
.char-click.noel::after {
  content: url(https://meltyblood.typelumina.com/resources/img/character/new_bf9dcf65f43a3cdc3551080f5d952399.png);
  position: absolute;
  top: 25px;
  left: 189px;
}

/*CHARACTER MODAL*/

.close-modal-btn {
  background: url(https://meltyblood.typelumina.com/resources/img/common/modal_close_btn_86631998bdc51b9c02f987fa4d5d0228.png);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0%;
  z-index: 62;
}

.modal-container {
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  width: 100vw;
  top: 0;
  z-index: 10;
  background-color: hsla(0, 0%, 0%, 0.7);
}
.modal-container::-webkit-scrollbar {
  width: 10px;
}

.modal-components {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 30;
  overflow-y: scroll;
}

.modal-content {
  width: 640px;
  height: 100%;
  position: absolute;
  margin: 100px auto;
  padding: 100px auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 100px;
  z-index: 61;
}
.close-area {
  position: relative;
  width: 100%;
  height: 100%;
}
.char-txt {
  margin-top: 14px;
  font-size: 20px;
  padding: 0 20px 200px;
  line-height: 1.6;
  color: aliceblue;
  text-align: justify;
}

.name-bg,
.char-img {
  position: absolute;
}
.char-catch,
.char-name,
.char-txt,
.char-slider {
  position: relative;
}

.char-catch {
  width: 428px;
  height: 106px;
  margin: 90px 0 0 -53px;
}
.char-slider {
  width: 455px;
  height: 297px;
  margin: 10px 0 0 -2px;
  z-index: 3;
}
.char-slider:hover {
  cursor: pointer;
}
.char-name {
  margin: 18px 0 0 17px;
}
.name-bg {
  background: url(https://meltyblood.typelumina.com/resources/img/character/chara_bg_65ad912f4a11b423638e1660c3a26e5a.png);
  width: 895px;
  height: 244px;
  top: 68px;
  left: -122px;
}

/*CHARACTER MODAL*/

/*Shiki*/
.modal-content.shiki .char-img {
  background: url(https://meltyblood.typelumina.com/resources/img/character/chara1/chara_img_55c99fac257d4615b1d7dcf23c95a1d5.png);
  width: 305px;
  height: 839px;
  top: 52px;
  right: -10px;
  z-index: 0;
}
.modal-content.shiki .char-catch {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara1/catch_5c401e8046f79d27c4ccd3ee6afa7af7.png);
}
.modal-content.shiki .char-name {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara1/name_b154cfe21a8940f2500f2b59f0274a69.png);
  width: 304px;
  height: 103px;
}
.modal-content.shiki .char-slider {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara1/pv_thumb_9a0473c968a94c6d4529b9b46312a3c6.png)
    0 0;
}
.modal-content.shiki .char-slider:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara1/pv_thumb_9a0473c968a94c6d4529b9b46312a3c6.png)
    0 297px;
}

/*Arcueid*/
.modal-content.arcueid .char-img {
  background: url(https://meltyblood.typelumina.com/resources/img/character/chara2/chara_img_d3130e19c2201921a2dfeff65c2080bc.png);
  width: 385px;
  height: 755px;
  top: -30px;
  right: -70px;
}
.modal-content.arcueid .char-catch {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara2/catch_f071030db4e4cd86bd88a4c8b7249979.png);
}
.modal-content.arcueid .char-name {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara2/name_51b4c0a7c854246c6604b92a84f8441c.png);
  width: 363px;
  height: 104px;
}
.modal-content.arcueid .char-slider {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara2/pv_thumb_d8a69700437bc9aeb115d007a79c4f72.png)
    0 0;
}
.modal-content.arcueid .char-slider:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara2/pv_thumb_d8a69700437bc9aeb115d007a79c4f72.png)
    0 297px;
}

/*Akiha*/
.modal-content.akiha .char-img {
  background: url(https://meltyblood.typelumina.com/resources/img/character/chara3/chara_img_bbd66b9b874a7ac6bb555760bc19d1e1.png);
  width: 471px;
  height: 783px;
  top: 62px;
  right: -82px;
}
.modal-content.akiha .char-catch {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara3/catch_c2dd9ee84844bf3a6deea97ce1dc545a.png);
}
.modal-content.akiha .char-name {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara3/name_55a4f50178987504ee798cc4f8c6c4c2.png);
  width: 260px;
  height: 104px;
}
.modal-content.akiha .char-slider {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara3/pv_thumb_e87c3d267b517f0f16bdb74171caa9c5.png)
    0 0;
}
.modal-content.akiha .char-slider:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara3/pv_thumb_e87c3d267b517f0f16bdb74171caa9c5.png)
    0 297px;
}

/*Ciel*/
.modal-content.ciel .char-img {
  background: url(https://meltyblood.typelumina.com/resources/img/character/chara4/chara_img_d2b4701fb76d7d521ad7e53636e20614.png);
  width: 636px;
  height: 1063px;
  top: -240px;
  right: -150px;
}
.modal-content.ciel .char-catch {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara4/catch_3ec553fb9aa26bcf6414396e5e6fda9f.png);
}
.modal-content.ciel .char-name {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara4/name_5eee03a4120ffc7ffb187377964c25b1.png);
  width: 250px;
  height: 103px;
}
.modal-content.ciel .char-slider {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara4/pv_thumb_db3db9291d4ea0d59985169f61ec99b2.png)
    0 0;
}
.modal-content.ciel .char-slider:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara4/pv_thumb_db3db9291d4ea0d59985169f61ec99b2.png)
    0 297px;
}

/*Hisui*/
.modal-content.hisui .char-img {
  background: url(https://meltyblood.typelumina.com/resources/img/character/chara5/chara_img_64cccf308b5e6204245ea4cf4cad043a.png);
  width: 734px;
  height: 799px;
  top: 60px;
  right: -317px;
}
.modal-content.hisui .char-catch {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara5/catch_d7bd50958f5b98779028c9cec310620f.png);
}
.modal-content.hisui .char-name {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara5/name_66f04de217879d0fdd0226c8f1a50f19.png);
  width: 250px;
  height: 103px;
}
.modal-content.hisui .char-slider {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara5/pv_thumb_f032ea5df3b2bf8cc2c9f683ce3b5b50.png)
    0 0;
}
.modal-content.hisui .char-slider:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara5/pv_thumb_f032ea5df3b2bf8cc2c9f683ce3b5b50.png)
    0 297px;
}

/*Kohaku*/
.modal-content.kohaku .char-img {
  background: url(https://meltyblood.typelumina.com/resources/img/character/chara6/chara_img_4a77483c39ab1c06c0592ca3e2760c95.png);
  width: 813px;
  height: 824px;
  top: 32px;
  right: -95px;
}
.modal-content.kohaku .char-catch {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara6/catch_6bb59a6bfb30be2a92beff69ee0d0185.png);
}
.modal-content.kohaku .char-name {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara6/name_d1ae889c3742b53d340932a46f8ea3da.png);
  width: 279px;
  height: 109px;
}
.modal-content.kohaku .char-slider {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara6/pv_thumb_fe9fbcebada1fe347730651b46603531.png)
    0 0;
}
.modal-content.kohaku .char-slider:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara6/pv_thumb_fe9fbcebada1fe347730651b46603531.png)
    0 297px;
}

/*Kouma*/
.modal-content.kouma .char-img {
  background: url(https://meltyblood.typelumina.com/resources/img/character/chara7/chara_img_bdf2ffc18058512b0b2f5ce2bd87a883.png);
  width: 783px;
  height: 907px;
  top: 54px;
  right: -305px;
}
.modal-content.kouma .char-catch {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara7/catch_ae3496eb2ea92082854dca9285c30b28.png);
}
.modal-content.kouma .char-name {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara7/name_f921b0925592d4c97d1d9b6d3c05062c.png);
  width: 364px;
  height: 109px;
}
.modal-content.kouma .char-slider {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara7/pv_thumb_a312b1e07d83b4f83b31f991e4a8b8bd.png)
    0 0;
}
.modal-content.kouma .char-slider:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara7/pv_thumb_a312b1e07d83b4f83b31f991e4a8b8bd.png)
    0 297px;
}

/*Miyako*/
.modal-content.miyako .char-img {
  background: url(https://meltyblood.typelumina.com/resources/img/character/chara8/chara_img_59892502ed9f6acf18c18bbec99db79e.png);
  width: 375px;
  height: 694px;
  top: 47px;
  right: -50px;
}
.modal-content.miyako .char-catch {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara8/catch_12eed1ed8829a95bf6cf8b0a75963991.png);
}
.modal-content.miyako .char-name {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara8/name_d4c6f594933501a7bf35d7c8f4933d45.png);
  width: 295px;
  height: 103px;
}
.modal-content.miyako .char-slider {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara8/pv_thumb_e49ba1a19655dff2b1468b8dbbf461b9.png)
    0 0;
}
.modal-content.miyako .char-slider:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara8/pv_thumb_e49ba1a19655dff2b1468b8dbbf461b9.png)
    0 297px;
}

/*Noel*/
.modal-content.noel .char-img {
  background: url(https://meltyblood.typelumina.com/resources/img/character/chara9/chara_img_852a19f130b739b49d60d0b6ed0afd6c.png);
  width: 564px;
  height: 914px;
  top: -3px;
  right: -260px;
}
.modal-content.noel .char-catch {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara9/catch_f8ba9ec32d55e54cda41bb3280d161d1.png);
}
.modal-content.noel .char-name {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara9/name_0c2f456b1234420c13e5b7f8a9e9f835.png);
  width: 223px;
  height: 104px;
}
.modal-content.noel .char-slider {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara9/pv_thumb_da423fd10869a5b478d39ecc602a951b.png)
    0 0;
}
.modal-content.noel .char-slider:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/character_en/chara9/pv_thumb_da423fd10869a5b478d39ecc602a951b.png)
    0 297px;
}
