.appears {
  width: 100%;
  height: 0px;
  background-color: lime;
  animation: appear 0.8s 1 forwards;
}
.disappears {
  width: 100%;
  height: 80vh;
  background-color: blue;
  animation: disappear 0.8s 1 forwards;
}

@keyframes appear {
  0% {
    height: 0px;
  }
  100% {
    height: 80vh;
  }
}

@keyframes disappear {
  0% {
    height: 80vh;
  }
  100% {
    height: 0px;
  }
}
.page-wrapper {
  background: url(https://meltyblood.typelumina.com/resources/img/character/bg_4435409ef700bb57e2382f750a28939c.jpg)
    center top no-repeat;
  background-attachment: fixed;
  position: relative;
}

h1,
.step-1,
.step-2,
.step-3 {
  text-align: center;
  padding: 20px 0;
}

.yellow {
  color: yellow;
}

.step-1-text,
.step-2-text,
.step-3-text {
  display: inline-block;
  width: 500px;
  position: relative;
}

.step-1-text::before,
.step-2-text::before,
.step-3-text::before {
  width: 500px;
  height: 100px;
  position: absolute;
}

.step-1-text::before {
  content: url(https://meltyblood.typelumina.com/resources/img/en/howto/step01_title_49cd178d0fe5d639435f65b1bd176373.png);
  top: -180px;
  left: -25px;
}

.step-1-img {
  background: url(https://meltyblood.typelumina.com/resources/img/en/howto/ss1_thumb_bc882f70ffb754d18116f84a142cd6ae.png)
    0 0;
  width: 531px;
  height: 334px;
  display: inline-block;
}
.step-1-img:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/en/howto/ss1_thumb_bc882f70ffb754d18116f84a142cd6ae.png)
    0 334px;
}

.step-2-text::before {
  content: url(https://meltyblood.typelumina.com/resources/img/en/howto/step02_title_01f1537c85744072caf25198ffe9994e.png);
  top: -230px;
  left: -25px;
}

.step-2-img {
  background: url(https://meltyblood.typelumina.com/resources/img/howto/ss2_thumb_ce77b54854950889ae0cd9c0cdefa782.png)
    0 0;
  width: 531px;
  height: 334px;
  display: inline-block;
}
.step-2-img:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/howto/ss2_thumb_ce77b54854950889ae0cd9c0cdefa782.png)
    0 334px;
}

.step-3-text::before {
  content: url(https://meltyblood.typelumina.com/resources/img/en/howto/step03_title_7c687e27c76cae50c6b54c360b9da814.png);
  top: -230px;
  left: -25px;
}

.step-3-img {
  background: url(https://meltyblood.typelumina.com/resources/img/en/howto/ss3_thumb_1adf4931f4508132217df9d2c4801213.png)
    0 0;
  width: 531px;
  height: 334px;
  display: inline-block;
}
.step-3-img:hover {
  background: url(https://meltyblood.typelumina.com/resources/img/en/howto/ss3_thumb_1adf4931f4508132217df9d2c4801213.png)
    0 334px;
}

.battle-system {
  position: relative;
  display: block;
  width: 998px;
  height: 82px;
  background: top no-repeat;
  margin-left: 14px;
  cursor: pointer;
  margin: 0 auto;
  border: none;
}
.battle-system:hover {
  opacity: 0.8;
}
